<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>Name: <%= @params[:name]  %></div>
    <div>Email: <%= @params[:email]  %></div>
    <div>Phone: <%= @params[:website]  %></div>
    <div>Message: <%= @params[:message]  %></div>
  </body>
</html>